
@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Muli');
body{
	margin:0;
	padding:0;
	overflow-x:hidden;
	background:url(img/background.png);
}
a{
	text-decoration: none;
	cursor:pointer;
}
ul{
	list-style: none;
	padding-left:0;
}
.d-flex{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.flex-row{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.flex-column{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.space-between{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.flex-center{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.flex-start{
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.flex-align-center{
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}

.flex-wrap{
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
}
.d-none{
	display:none;
}
.d-block{
	display:block;
}
.mr-3{
	margin-right: 15px;
}
.pl-3{
	padding-left: 15px;
}
.mr-5{
	margin-right: 60px;
}
.ml-5{
	margin-left: 60px;
}
.mY-15px{
	margin: 15px 0;
}
.p-15{
	padding: 15px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.border{
	border: 1px solid silver;
}
.container{
	padding: 0 5vw;
}
.work-width{
	width:33%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

}
.h-100{
	height: 100%;
}
.button-style{
	height: 30px;
	background: transparent;
	border: 1px solid #ffc107;
	color:#ffc107;
	border-radius: 10px;
	padding:10px;
	font-size: 12pt;

}
.button-style:hover{
	background: #ffc107;
	
	color:black;

}
.text-center{
	text-align: center;
}
#main-foto{
	background: url(img/main-foto-1.jpg) center top no-repeat;
	z-index:99;
	background-size: cover;
	position:absolute;
	width:100vw;
	height: 100vh;
	color:black;
	padding-top: 25vh;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
	overflow: hidden;

}
#welcome-animation{
	display: none;
	height: 100vh;
}
#welcome-text{
	font: bold 3vw 'Syncopate', sans-serif;
	margin-left: 4vw;
	text-shadow: 3px 3px 3px darkgray;

}

.split-char{
	display: inline-block;
}
.w40px{
	width: 3vw;
}
.split-char:nth-child(8){
	display:block;
}
#signature{
	width: 25vw;
	margin-top: 100px;
	margin-left: 18vw;
	
}

/*Begin amimation of signature*/
@-webkit-keyframes signature{
	100%{
		stroke-dashoffset: 0;	
	}
}
@keyframes signature{
	100%{
		stroke-dashoffset: 0;	
	}
}	
#Y,#u1,#li,#an,#a2,#K,#K2,#utep1,#utep2,#utep3,#utep4,#utep5,#utep6,#ova1,
#ova2,#ova3,#ova4,#ova5,#dot,#dash {
	stroke-dasharray: 1300;
	stroke-dashoffset: 1300;
	stroke-width: 25;
	-webkit-animation: signature .6s linear forwards 3s;
	        animation: signature .6s linear forwards 3s;
	}
#utep1,#utep2,#utep3,#utep4,#utep5,#utep6{
	-webkit-animation-duration: .4s;
	        animation-duration: .4s;
	}
#u1{-webkit-animation-delay: 3.8s;animation-delay: 3.8s;}
#li{-webkit-animation-delay: 4s;animation-delay: 4s;}
#an{-webkit-animation-delay: 4.3s;animation-delay: 4.3s;}
#a2{-webkit-animation-delay: 4.7s;animation-delay: 4.7s;}
#K{-webkit-animation-delay: 5.2s;animation-delay: 5.2s;}
#K2{-webkit-animation-delay: 5.6s;animation-delay: 5.6s;}
#utep1{-webkit-animation-delay: 5.75s;animation-delay: 5.75s;}
#utep2{-webkit-animation-delay: 5.85s;animation-delay: 5.85s;}
#utep3{-webkit-animation-delay: 5.95s;animation-delay: 5.95s;}
#utep4{-webkit-animation-delay: 6.05s;animation-delay: 6.05s;}
#utep5{-webkit-animation-delay: 6.15s;animation-delay: 6.15s;}
#utep6{-webkit-animation-delay: 6.25s;animation-delay: 6.25s;}
#ova1{-webkit-animation-delay: 6.6s;animation-delay: 6.6s;}
#ova2{-webkit-animation-delay: 6.75s;animation-delay: 6.75s;}
#ova3{-webkit-animation-delay: 6.9s;animation-delay: 6.9s;}
#ova4{-webkit-animation-delay: 7.05s;animation-delay: 7.05s;}
#ova5{-webkit-animation-delay: 7.2s;animation-delay: 7.2s;}
#dot{-webkit-animation-delay: 7.5s;animation-delay: 7.5s;}
#dash{-webkit-animation-delay: 7.7s;animation-delay: 7.7s;}
/*End amimation of signature*/

#welcome-button-close{
	position: absolute;
	z-index: 100;
	overflow:hidden;
	bottom: 10vh;
	left: 3vw;
	font-size: 1.8vw;
	border: none;
	outline:none;	
	-webkit-background-clip: text;
	-moz-background-clip: text;
	 background-clip: text;
	 color: black; 
	}
#welcome-button-close:hover{
	color:  #ffc107;

}



nav{
	width:100%;
	z-index:90 !important ;
	background: black;
	height: 15vh;
	min-height: 35px;	
	position: fixed;
	top:0;

}
.navbar a,
#logo g{
	color: white;
	fill: #ffc107;
}
.navbar a:hover{
	color: #ffc107;
	-webkit-transition-duration: .9s;
	     -o-transition-duration: .9s;
	        transition-duration: .9s;
}
.a-link{
	color:#ffc107 !important;
}
.navbar a:hover path{
	fill:white;
	-webkit-transition-duration: 1.5s;
	     -o-transition-duration: 1.5s;
	        transition-duration: 1.5s;
}
#logo svg{
	height:90%;
}
#logo-name{
	border-left:1px solid white;
	line-height: 1;
}
#logo-name div:last-child{
	font-size: .5em;
}

.burger{
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #ffc107;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
  -ms-transform: rotate(-45deg) translate(-8px, 5px);
      transform: rotate(-45deg) translate(-8px, 5px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -6px);
  -ms-transform: rotate(45deg) translate(-7px, -6px);
      transform: rotate(45deg) translate(-7px, -6px);
}

#wrapper{
	font-family: 'Muli', sans-serif;
	display:none;
}
#hello-block{
	height: 100vh;
	text-align: center;
}
header{
	font-size: 1.8em;
	margin-top: 30vh;
	margin-bottom: 10vh;
}
header p:first-child{
	font-size: 1.2em;
}
header p:last-child{
	line-height: 1 !important;
}
#works img{
	width: 100%;

}
#works h3{
	text-align: center;
	font-weight: bold;
	font-style: italic;
}
.work-description{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.work-buttons{
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
}

footer{
	background: black;
	color: white;
	
}
#social svg{
	margin: 0 3vh;
	width:2vw;
	fill:white;
	
}
#social a:hover  path{
	fill:#ffc107;
}
.border-top-dotted{
	display:inline-block;
	padding: 19px 0;
	margin:0;
 border-top: 3px dashed #000000;
  background:
   -webkit-gradient(linear,left top, left bottom,from(#000000),to(#000000)) padding-box,
   -webkit-gradient(linear, left top, right top, from(#ffc107), color-stop(50%, #fff), to(#ffc107)) border-box;
  background:
   -webkit-linear-gradient(#000000,#000000) padding-box,
   -webkit-linear-gradient(left, #ffc107, #fff 50%, #ffc107) border-box;
  background:
   -o-linear-gradient(#000000,#000000) padding-box,
   -o-linear-gradient(left, #ffc107, #fff 50%, #ffc107) border-box;
  background:
   linear-gradient(#000000,#000000) padding-box,
   linear-gradient(to right, #ffc107, #fff 50%, #ffc107) border-box;
  
 
	
}
@media only screen and (max-width: 768px) {
	/*#welcome-text{
	font-size: 5vw;
	margin-left: 4vw;
	}
	#signature{
		width: 45vw;
		margin-top: 150px;
		margin-left: 15vw;	
	}*/
	#logo {
		margin-left:3vw;
	}
	#navLinks li.mr-5{
		margin-right:3vw;
	}
	.work-width{
		width:100%;
		max-width: 500px;
		margin: 0 auto;	
	}
	

}
@media only screen and (max-width: 450px) {
	#main-foto{
	padding-top: 28vh;
	}
	#welcome-button-close{
		bottom: 20vh;
		font-size: 3vh;	
	}
	#signature{
		width: 75vw;
		margin-top: 5vh;
		margin-left: 5vw;
	}
	#welcome-text{
	font-size: 8vw;
	}
	.split-char:nth-child(22){
    display: block;
	}
	header{
		margin-top: 16vh;
	}
	#logo{
		margin-left:15px;
	}
	.burger{
		margin-right: 15px;
	}
	nav{
		-ms-flex-wrap:wrap;
		    flex-wrap:wrap;
		height: auto;
		padding: 15px 0;
	}
	nav ul.flex-row{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
		font-size:6vw;
		margin-left:15px;
		
	}
	nav li{
		margin: 5px 0;
	}
	.w-xs-100{
		width:100%;
	}
	.d-xs-none{
		display:none;
	}
	.d-xs-block{
		display:block;
	}
	#social svg{
	width:5vw;
	
}

}